{{- define "main" }}

<header class="page-header">
    {{- partial "breadcrumbs.html" . }}
    <h3>
        <u>
            Commentary, random musings & ocassional rants.</u>
        <a href="{{ .RelPermalink }}/index.xml" title="RSS" aria-label="RSS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
                <path d="M4 11a9 9 0 0 1 9 9" />
                <path d="M4 4a16 16 0 0 1 16 16" />
                <circle cx="5" cy="19" r="1" />
            </svg>
        </a>
        
    </h3>
</header>

{{- $pages := union .RegularPages .Sections }}

{{- $paginator := .Paginate $pages }}

{{- $term := .Data.Term }}
<div class="blog-posts-wrapper">
    {{- range $index, $page := where $paginator.Pages "Params.draft" false }}

    {{- $class := "post-entry tag-entry blog-list-item" }}
    <article class="{{ $class }}" >
        {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
        {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
        <header class="entry-header">
            <h2>
                {{- .Title }}
                {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
            </h2>
        </header>
        {{- if (ne (.Param "hideSummary") true) }}
        <div class="entry-content">
            <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
        </div>
        {{- end }}

        {{- if .Params.tags }}
        <div class="blog-tags">
            {{- range .Params.tags }}
            <p class="tag">{{ . }}</p>
            {{- end }}
        </div>
        {{- end }}

        {{- if not (.Param "hideMeta") }}
        <footer class="entry-footer">
            {{- partial "post_meta.html" . -}}
        </footer>
        {{- end }}
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>

    {{- end }}{{/* end loop */}}
</div>

{{- end }}{{- /* end main */ -}}