:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 70%;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    /** beginning dark mode **/
    --primary-dark : rgb(116, 242, 186);
    --entry-dark : rgb(3, 31, 29);
    --text-dark : rgb(220, 252, 238);
    --background-dark : rgb(2, 24, 15);
    --secondary-dark : rgb(14, 67, 152);
    --accent-dark : rgb(28, 29, 234);
    /** end of dark mode **/
    --theme: rgb(231, 253, 244); /* back ground */
    --entry: rgba(13, 140, 83, 0.2); /** blog entry card */
    --primary: rgb(5, 56, 33); /** heading colors **/
    --secondary: rgb(18, 83, 54); /** text colors **/
    --tertiary: rgb(21, 21, 229); /** go up button **/
    --content: rgb(3, 33, 20); /* blog content */
    --hljs-bg: rgb(34, 43, 37);  /* dark neutral 200 */
    --code-bg: rgba(13, 140, 83, 0.2); /* neutral 200 */
    --heading-border: 1px dashed rgb(0, 36, 32); /** dark neutral 600 */
}

.dark {
    --theme: var(--background-dark); /* back ground */
    --entry: var(--entry-dark); /** blog entry card */
    --primary: var(--primary-dark); /** heading colors **/
    --secondary: var(--text-dark); /** text colors **/
    --tertiary: var(--accent-dark); /** go up button **/
    --content: var(--text-dark); /* blog content */
    --hljs-bg: var(--entry-dark); /* code background - primary 950 */
    --code-bg: rgb(32,32,21); /* dark neutral 250 */
    --border: rgba(56, 2, 170, 0.03); /* neutral 700 */
    --heading-border: 1px dashed var(--text-dark); /** neutral 600 **/
}

.toc {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
