@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

@media screen and (max-width: 1372px) {
    .header-title{

        display: none !important;
    }
   
    .header{
        width: 60%;
        margin: auto;
    }

    .post-wrapper{
        width: 100%;
    }

    .profile-wrapper{
        width: 100%;
    }

    .blog-posts-wrapper{
        grid-template-columns: 1fr;
    }

    .project-list-wrapper {
        grid-template-columns: 1fr;

    }
    
    .main{
        width: 60%;
    }

}
/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }


    .header{
        width: 70%;
        margin: auto;
    }
    

    .main{
        width: 70%;
    }

    .project-list {
        width: 100%;
        margin: auto;
        font-family: 'Source Code Pro', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial;
    }
    

}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
