<div class="subscribe-form">
  <form action="https://api.follow.it/subscription-form/cmJxUGNvdDJkMW1Pbllld1ZJcURyRCtuazZpZFFId2hoWnFnYllPdS8vN054ZnRxempLaDVhcGhMQlBKazRKdVpBRzNHUXdNRTNtaHQ0TUEvcHk3YTNRMDYrclNuL0J6SXNKQUFTYU1xbnNraWxxQnRBR2dOVHVqRGtyVFVHcVB8RDRITWN0V0p0WTljU0lnUDZkUVcrbDhKcEZjSUV1QzluUGdaNjM3VEwwYz0=/8" method="post" id="subscribe-form" name="subscribe-form" class="validate" target="_self">
    <div class="form-preview">
      <input type="email" name="email" id="email" placeholder="Enter your email for updates" required>
      <input type="submit" value="Subscribe" name="subscribe" id="subscribe-button">
    </div>
  </form>
</div>
<!-- End Subscription Form -->
