<!-- Begin Subscription Form -->
<style>
  .subscribe_form {
    padding-top: 1rem;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe_form .form-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .subscribe_form .form-preview input[type="email"] {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 6px;
    border: 2px solid #e9e8e8;
    background-color: var(--theme);
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
  }
  .subscribe_form .form-preview input[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: var(--primary);
    color: var(--theme);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }
  .subscribe_form .form-preview input[type="submit"]:hover {
    background-color: #333;
  }
</style>

<div class="subscribe_form">
  <form action="https://api.follow.it/subscription-form/cmJxUGNvdDJkMW1Pbllld1ZJcURyRCtuazZpZFFId2hoWnFnYllPdS8vN054ZnRxempLaDVhcGhMQlBKazRKdVpBRzNHUXdNRTNtaHQ0TUEvcHk3YTNRMDYrclNuL0J6SXNKQUFTYU1xbnNraWxxQnRBR2dOVHVqRGtyVFVHcVB8RDRITWN0V0p0WTljU0lnUDZkUVcrbDhKcEZjSUV1QzluUGdaNjM3VEwwYz0=/8" method="post" id="subscribe-form" name="subscribe-form" class="validate" target="_self">
    <div class="form-preview">
      <input type="email" name="email" id="email" placeholder="Enter your email for updates" required>
      <input type="submit" value="Subscribe" name="subscribe" id="subscribe-button">
    </div>
  </form>
</div>
<!-- End Subscription Form -->
